/* CLASSIC WRESTLING SCOREBOARD */

body {
  background: #111;
}

.sb-score-box.sb-red {
  background: #c63b3b;
  color: #fff;
}

.sb-score-box.sb-green {
  background: #3ca04a;
  color: #fff;
}

.sb-title-box {
  font-family: "Impact", sans-serif;
  color: #ddd;
}

.sb-timer {
  font-family: "Impact", sans-serif;
  color: white;
}
