/* DARK PRO THEME */

.sb-wrapper {
  background: #000000;
}

.sb-title-box {
  color: #eaeaea;
}

.sb-score-box.sb-red {
  background: #b92a2a;
  color: white;
}

.sb-score-box.sb-green {
  background: #3cb84a;
  color: white;
}

.sb-timer {
  color: #ffffff;
}

.sb-mat-value,
.sb-period-value {
  color: #ffffff;
}
